.editor__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5%;
  padding: 0;

  color: #5f5757;

  .is-active {
    color: #eb5757;
    animation: transparentAppear 0.5s;
  }
}

.editor__nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 5px;

  font-size: 20px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

.editor__component {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 90%;
}

.dialogue-tab,
.situation-tab {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.situation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

  .notification {
    color: gray;
  }

  .edit-button {
    padding: 0;
  }
}

.textarea-situation {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 15px;

  outline: none;
  resize: none;
  overflow: scroll;
}

.main-content {
  width: 100%;
  height: 45%;
  padding: 30px;
  box-sizing: border-box;
  background-color: #f5eeee;
  border: 2px solid #d4c6c6;
  border-radius: 5px;
  word-break: break-all;
  overflow: scroll;

  white-space: normal;
  line-height: 1.5;
  flex-wrap: wrap;
  white-space: pre-line;

  &__full-height {
    height: 100%;
  }
}

.dialogue {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__name {
    width: 20%;
    margin: 5px;

    font-weight: bold;
  }

  &__script {
    width: 100%;
    margin: 5px;
    flex-wrap: wrap;
    white-space: pre-line;
  }
}

.input-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.textarea-dialogue {
  width: 70%;
  margin-top: 5px;

  outline: none;
  resize: none;
  overflow: scroll;
}

.complete-button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  img {
    width: 100px;
    height: 35px;
  }
}

.location__title {
  font-size: 25px;
  font-weight: bold;
}

.input__location__title {
  height: 25px;
  font-size: 25px;
  font-weight: bold;

  border: none;
  outline: none;
  resize: none;
  overflow: scroll;
}

.location-image {
  position: relative;
  width: 100%;
  height: 45%;
  margin-bottom: 10px;
  background-color: #dddddd;
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}
