.header__background-general {
  height: 5%;
  padding-top: 45px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
}

.header__background-project {
  height: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
  cursor: pointer;
}

.header-button {
  img {
    width: 100px;
    height: 35px;
  }
}
