html,
#root {
  min-height: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  background: #C9FFBF;
  background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
  background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.card--hover {
  transition-delay: 0s, 0s;
  transition-duration: 0.25s, 0.25s;
  transition-property: box-shadow, transform;
  transition-timing-function: ease-in, ease-in;

  &:hover {
    transform: translateY(-8px);
    box-shadow: rgba(0, 0, 0, 0.04) 10px 14px 16px 10px;
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: scroll;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0 auto;

  &--width-70 {
    width: 70%;
  }

  &--width-80 {
    width: 80%;
  }
}

.pop {
  animation: button-shrink 0.3s ease-in-out 0s 1 normal forwards;

  &:hover {
    animation: button-grow 0.3s ease-in-out 0s 1 normal forwards;
  }
}

.lotate {
  animation: rotate 0.3s ease-in-out 0s 1 normal forwards;

  &:hover {
    animation: rotate-reverse 0.3s ease-in-out 0s 1 normal forwards;
  }
}

@keyframes transparentAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate-reverse {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes button-grow {
  0% {transform: scale(1);}
  100% {transform: scale(1.1);}
}

@keyframes button-shrink {
  0% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
